[package]
name = "ucfp"
version = "0.1.0"
edition = "2024"
description = "Universal Content Fingerprinting (UCFP) core library "
license = "Apache-2.0"

[dependencies]
ufp_canonical = { path = "crates/ufp_canonical" }
ufp_ingest = { path = "crates/ufp_ingest" }
ufp_perceptual = { path = "crates/ufp_perceptual" }
ufp_semantic = { path = "crates/ufp_semantic" }
chrono = { version = "0.4", features = ["serde"] }

[dev-dependencies]
criterion = { version = "0.5" }

[[bench]]
name = "pipeline"
harness = false

[workspace]
members = ["crates/ufp_canonical",
    "crates/ufp_ingest",
    "crates/ufp_perceptual",
    "crates/ufp_semantic"
]
