[package]
name = "ucfp"
version = "0.1.0"
edition = "2024"
description = "Universal Content Fingerprinting (UCFP) core library "
license = "Apache-2.0"

[dependencies]
ufp_canonical = { path = "crates/ufp_canonical" }
ufp_ingest = { path = "crates/ufp_ingest" }

[dev-dependencies]
chrono = { version = "0.4", features = ["serde"] }

[workspace]
members = ["crates/ufp_canonical",
    "crates/ufp_ingest"
]
